html{
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 24px;
	line-height: 40px;
}

/*nav選單*/
.navbar-brand img {
	height: 60px;
	background-color: #c1adad;
}	

/* nav顏色調整 */
.navbar {
  background-color: #fff;
}


/*banner*/
.banner {
	margin-top: 10px;
}
.banner .container-fluid {
	padding:0!important;
}
.carousel-inner {
	margin-top: 0px;
}

.pics {
	filter: brightness(60%);
}

.hello {
	position: absolute;
	font-size: 90px;
	color: #fff;
	z-index: 1;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}


/*關於我*/
.about {
	padding:100px 0;
}

.about p {
	font-size: 50px;
	padding-bottom: 20px;
	font-family: "Century Gothic";
}

.about img {
	box-shadow:2px 2px 4px gray;
}

.about .title_line {
	border-color:#ffffff;
}

.story {
	padding: 20px 0;
	font-size: 15px;
	line-height: 20px;
}

.story h5 {
	line-height: 25px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}

/*demo*/
#section2 {
	margin-top: 10px;
	line-height: 60px;
	margin-bottom: 100px;
}

.name2 {
	font-size: 50px;
	font-family: "Century Gothic";
}

.show p {
	font-size: 18px;
	font-family: "Century Gothic";
	margin-top: 40px;
	margin-bottom: 40px;
}

.show button {
	background-color: #181818;
	color: #fff;
	width: 180px;
	border: none;
	border-radius: 55px;
	text-align: center;
	font-size: 16px;
}

.pic1 img {
	margin-bottom: 30px;
	border-radius: 10px;
}

.pic2 img {
	border-radius: 10px;
}

.pic3 img {
	margin-bottom: 30px;
	border-radius: 10px;
}

.pic4 img {
	border-radius: 10px;
}

/*聯絡我*/
.contact {
	height:730px;
	padding-top: 50px;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	font-family: "Century Gothic";
	font-size: 50px;
	color: #000;
	border-style: none;
	padding-top: 15px;
}

.contact .title_line {
	border-style: none;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 60px;
	color: #91989F;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #f0f2f3;
	border-radius: 10px;
	border:0px;
	padding: 12px;
	resize: vertical;
	font-family: "Century Gothic";
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #f0f2f3;
	border-radius: 10px;
	border:0px;
	padding: 12px;
	font-family: "Century Gothic";
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #181818;
 	font-family: "Century Gothic";
  color: #fff;
  cursor: pointer;
  width: 100px!important;
  height: 50px;
  text-align: center;
  border-radius: 55px;
}

input[type=submit]:hover {
  background-color: #181818;
}

/*footer*/
footer {
	background-color: #181818;
	padding:20px 0;
	color: #fff;
}

footer p {
	line-height: 39px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}
}